*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(122, 189, 244);
    text-align: center;
    
}

h1,h2{
    color:black;
    margin-bottom:20px;
}

.input_form ,.ticket{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:40px;
}

.input_form input,
.input_form button{
  margin-right: 10px;
}

h3{
    margin-right:30px;
}
